@import "./styles/generated/popdot-fontfaces.css";
@import "./styles/generated/popdot-vars.css";
@import "./styles/generated/popdot-utilities.css";
@import "./styles/popdot-components.css";
@import "./ui/viewTransitions/overlayFlowViewTransition.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

body {
  background-color: #ffffff;
}